.taskContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-height: 150px;

    background-color: #3f51b5;
    color: white;

    border-radius: 12px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.taskContainer h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: 600;
}