.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    backdrop-filter: blur(5px);
    margin-top: 10px;
    border-radius: 5px;
}

.buttonBox {
    border-radius: 5px;
    gap: 20px;
    display: flex;


}

.breakButton {
    background-color: lightgray;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    border-radius: 5px;
    /* Smooth transition */
}

.breakButton.active {
    background-color: black;
    color: white;
}