.card {
    background: black;
    padding: 22px;
    border-radius: 20px;
    margin-bottom: 28px;
    /* box-shadow: 0 5px 20px rgb(209, 206, 206); */
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.timerDisplay {
    font-size: 70px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.startBtn {
    background: #4c84ff;
    color: white;
    font-size: 20px;
    padding: 12px;
    flex: 1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.resetBtn {
    background: white;
    color: black;
    padding: 12px;
    flex: 1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Toggle */
.themeToggle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.themeToggle input {
    display: none;
}

.toggle {
    width: 40px;
    height: 20px;
    background: white;
    border-radius: 20px;
    position: relative;
}

.toggle::before {
    content: "";
    width: 16px;
    height: 16px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 4px;
    transition: 0.2s ease;
}

.themeToggle input:checked+.toggle::before {
    transform: translateX(16px);
}

.labelText {
    font-size: 14px;
    color: white;
}