/* src/app/globals.css */
:root {
  --bg: #242424;
  --text: rgba(255, 255, 255, 0.9);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: fit-content;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  object-fit: contain;
  margin: 0;
  padding: 32px 20px;
  height: fit-content;
}

.app {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}