.header {
    min-height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(100, 99, 99);
}

.settingsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.settingsButton {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
}

.dropdownContent {
    position: absolute;
    top: 160px;
    right: 78px;
    min-width: 160px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #545252;
    border-radius: 5px;
    padding: 12px 16px;

}

.dropdownContent {
    display: none;
}

.changeThemeButton {
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    padding: 8px 12px;
    background: none;
    border-bottom: 1px solid rgb(65, 64, 64);
}

.changeThemeButton:hover {
    background-color: rgb(220, 219, 219);
    border-radius: 5px;
    color: black;
}