body {
  /* background: #f5f6f8; */
  margin: 0;
  height: 100vh;
}

.app {
  width: 100%;
  max-width: 90%;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
  color: white;
}